#paper,
.paper {
  width: 210mm;
  height: 297mm;
}

#paper {
  padding: 16mm 5mm;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  font-family: "Sora", sans-serif;
}

.subtitle {
  font-size: .65em;
  line-height: 95%;
}

.sticker-dimensions {
  width: 99mm;
  height: 38mm;
}

#qr img {
  height: 100%;
  width: 100%;
}

@media print {
  @page {
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  #paper,
  #paper * {
    visibility: visible;
  }

  #paper {
    position: absolute;
    left: 0;
    top: 0;
  }
}